.icon-guest {
    background-image: url("https://pms.frontdesk24.ru/onlineWidget/images/guest.svg");
    width: 18px;
    height: 17px;
}

.l-start__content {
    padding: 0;
    max-width: 1012px;
    margin: 20px auto 0 auto;
}

.b-start {
    background: transparent;
    padding: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.b-start__filter-field {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}

.b-start__field {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    margin: 0 15px;
    max-width: 280px !important;
}

.b-start__field.b-start__field--rooms {
  max-width: 170px !important;
}

.b-start__field-label {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    padding: 8px 8px 10px 0;
    width: auto;
}

.b-start__field .b-select-ghost {
    color: #000;
    width: 100%;
    min-width: 170px;
    border-width: 2px;
    border-color: #CACACA;
    font-size: 16px;
    padding: 0 12px 0 20px;
    height: 50px;
    display: flex;
}

.b-select-ghost .icon-calendar {
  order: 2;
  margin-left: auto;
  margin-right: 0;
}

.b-select-ghost .icon-guest {
  display: none;
}

.icon-calendar {
  background-image: url(/wp-content/themes/voshod/image/calendar_icon.svg);
  width: 25px;
  height: 25px;
}

.b-start__submit-field {
    display: flex;
    align-items: flex-end;
    color: #fff;
    border-width: 2px;
    border-color: #fff;
    margin: 0 15px;
}

.b-start__submit-field > * {
    margin: 0;
    background: linear-gradient(129.28deg,#0b18a0 4.12%,#1552ff 94.56%);
    box-shadow: 0px 2px 10px #818181;
    color: #fff;
    font-size: 14px;
    border-radius: 50px;
    transition: .3s;
    width: 191px;
    height: 50px;
}
.s-btn--primary:hover{
    box-shadow: 0px 0px 5px #818181;
    background: linear-gradient(129.28deg,#0b18a0 4.12%,#1552ff 94.56%);
}

.b-select-ghost .icon-guest {
    margin-right: 8px;   
}

.icon-drop, 
.select2-container .select2-selection .select2-selection__arrow::after, 
.b-select-ghost::after, 
.b-simple-drop::after, 
.b-combobox__trigger::after {
  background-image: unset;
  width: 0;
  height: 0;
}


@media screen and (max-width: 769px) {
    .l-start__content {
        margin-bottom: 20px;
    }
    .b-start,
    .b-start__filter-field {
        flex-direction: column;
    }

    .b-start__field,
    .b-start__field.b-start__field--rooms {
        max-width: 100%!important;
    }

    .b-start__filter-field {
        margin-bottom: 25px;
    }

    .b-start__submit-field {
      justify-content: center;
  }
}